<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FCI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90E28AE11DA5561B006C3C19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90E28AFA1DA5561C006C3C19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90E28B051DA5561C006C3C19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
